# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
*.tmp
.temp/

# Jekyll (if using Jekyll for GitHub Pages)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata